/*
* React-Tree by @ortonomy
* v1.0
* Preset styles out of the box
*/
@import 'size';
@import 'colors';

.Tree {
  min-height: 100vh;
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
  padding: 5px;
  overflow-y: auto;

  & * {
    user-select: none;
    cursor: pointer;
  }

  &.T-loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .T-node {
    &.T-open-node {
      margin-left: -4px;
      border-left: 4px solid $icon;
    }

    .T-ndata {
      display: flex;
      align-items: center;
    }
  }

  .T-icon {
    display: inline-block;
    width: 16px;
    text-align: center;
    color: $icon;
    font-size: 14px;
    padding-right: 2px;
  }

  .T-node,
  .T-leaf,
  .T-empty {
    padding: 8px 15px 8px 4px;
    min-height: 20px;
  }

  .T-wrapper {
    min-height: 20px;
    display: flex;
    align-items: center;

    .T-ntext,
    .T-ltext {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      min-width: 200px;
    }
  }
}

.Tree.T-dark,
.Tree.T-light {
  .T-empty {
    color: $accent;
    font-size: 14px;
  }
}

.Tree.T-dark {
  color: $darkModeText;
  background-color: $darkModeBg;

  .T-node,
  .T-leaf,
  .T-empty {
    border-bottom: 1px solid $darkModeHighlight;
    &:hover {
      background: $darkModeHighlight;
    }

    &.T-dark-highlight {
      background: $darkModeHighlight;
      animation: flash-dark 0.5s linear;
    }
  }
}

.Tree.T-light {
  color: $lightModeText;
  background-color: $lightModeBg;

  .T-node,
  .T-leaf,
  .T-empty {
    border-bottom: 1px solid $lightModeHighlight;
    &:hover {
      background: $lightModeHighlight;
    }

    &.T-light-highlight {
      background: $lightModeHighlight;
      animation: flash-light 0.5s linear;
    }
  }
}

@keyframes flash-dark {
  0% {
    background-color: $icon;
  }

  100% {
    background-color: $darkModeHighlight;
  }
}

@keyframes flash-light {
  0% {
    background-color: $icon;
  }

  100% {
    background-color: $lightModeHighlight;
  }
}
